/* Container Layout */
.dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top of the page */
    gap: 10px; /* Space between form and chart sections */
    padding: 100px;
    font-family: Arial, sans-serif;
    height: 50vh; /* Ensures the layout spans full height */
  }
  
  /* Form Section */
  .form-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 20%; /* Restrict the form section width */
    padding: 50px;
  }

  h2 {
    font-size: 14px;
    font-weight: normal;
    text-align: left; /* Align text to the left */
  }

  .input-field {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: grey;
  }
  
  .predict-btn {
    font-size: 16px; 
    font-weight: bold;
    background-color:#29b6f6;
    color: white;
    margin-top: 20px;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    height: 50px;

  }
  
  /* Chart Section */
  .chart-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 70%; /* Restrict the chart section width */
  }
  
  /* Adjust chart sizes */
  .chart {
    height: 300px; /* Increased height for better visualization */
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Ensure buttons and inputs align properly */
  .input-container {
    display: flex;
    align-items: center;
  }
  
  /* Predict button hover effect */
  .predict-btn:hover {
    background-color: #0288d1;
  }
  
  .form-section .input-container,
  .form-section .input-field,
  .form-section select {
    width: 100%; /* Makes all elements fill the parent container */
    max-width: 400px; 
    height: 60px; /* Standardize height */
    box-sizing: border-box; /* Ensure padding and border are included in the width/height */
}

/* Error Message Styling */
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px; /* Adjust spacing between input and error message */
    text-align: left;
  }


  /* Responsive Design */
  @media (max-width: 768px) {
    .dashboard-container {
      flex-direction: column; /* Stack sections on small screens */
    }
  
    .form-section,
    .chart-section {
      max-width: 100%;
    }
  }
  